<robot
  name="table_fix">
  <link
    name="table">
    <inertial>
      <origin
        xyz="-0.0051994 -0.73155 0.047363"
        rpy="0 0 0" />
      <mass
        value="83.702" />
      <inertia
        ixx="19.272"
        ixy="-5.4421E-15"
        ixz="-1.1988E-15"
        iyy="19.98"
        iyz="-0.40239"
        izz="19.55" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 1"
        rpy="1.57 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/table.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://table_fix/textures/table_color.jpg" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/table.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_basket">
    <inertial>
      <origin
        xyz="2.2204E-16 5.5511E-17 0.021353"
        rpy="0 0 0" />
      <mass
        value="2.5011" />
      <inertia
        ixx="0.040801"
        ixy="1.106E-17"
        ixz="-1.1852E-17"
        iyy="0.048536"
        iyz="-1.7392E-17"
        izz="0.085254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/left_basket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://table_fix/textures/green.jpg" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/left_basket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_fixed"
    type="fixed">
    <origin
      xyz="0.2398 -0.517 0.21594"
      rpy="-1.5708 0 0" />
    <parent
      link="table" />
    <child
      link="left_basket" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_basket">
    <inertial>
      <origin
        xyz="2.2204E-16 -8.3267E-17 0.021353"
        rpy="0 0 0" />
      <mass
        value="2.5011" />
      <inertia
        ixx="0.040801"
        ixy="-1.9019E-19"
        ixz="-1.0672E-17"
        iyy="0.048536"
        iyz="-1.4635E-17"
        izz="0.085254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/right_basket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://table_fix/textures/blue.jpg" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://table_fix/meshes/right_basket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_fixed"
    type="fixed">
    <origin
      xyz="-0.2502 -0.517 0.21594"
      rpy="-1.5708 0 0" />
    <parent
      link="table" />
    <child
      link="right_basket" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
